<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="StorageConnectionString" value="DefaultEndpointsProtocol=https;AccountName=jglearningstorage;AccountKey=eCQarWI7lYWuhXTb1srg0mIDg9gf4+4xYkAKSaJBMQFUxLzz7P4zdHgA0jF6Q8STqOO1n/1vJKzilUXcJZjEjg==;EndpointSuffix=core.windows.net"/>
  </appSettings>
</configuration>